### TUPLE

In [23]:
# declaration 
tup = (10,20,30,40) 
float_tup = (10.5,10.2)
mixed_tup = (10, 10.5, "str", True) 
lst = [10,20,30]
tup1 = tuple(lst)
print(type(tup1), tup1)

<class 'tuple'> (10, 20, 30)

In [3]:
# access 
tup = (10, 20, 30, 10.5, "str", False)

#index 
print(tup[3]) 

# slicing 
new_tup = tup[0:3]
print(new_tup)

10.5
(10, 20, 30)

In [4]:
# mutable
lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [24]:
# tuple method 
tup= (10, 20, 30, 40, 10, 20, 30, 10)
print(tup)
print(tup.count(10))
print(tup.index(40))

(10, 20, 30, 40, 10, 20, 30, 10)
3
3

### SET

In [6]:
A = { 1, 2, 3 } 
print(type(A) , A)

# empty structures 
B = [] 
print(type(B)) 

C= () 
print(type(C))

S = set()
print(type(S))

<class 'set'> {1, 2, 3}
<class 'list'>
<class 'tuple'>
<class 'set'>

In [7]:
#accessing 

S = { 1, 2, 3, 4, 1, 2 } 

if (10 in S):
    print("3 is present")
else:
    print("not present")

sum = 0 
for element in S:
    sum+= element 
print(sum)

not present
10

In [8]:
#mutable
s = {5, 1, 2, 4, 3} 

s.add(10) 
s.add(0)
print(s)

s.pop()
s.pop()
print(s)

s.remove(5) 
print(s)

{0, 1, 2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
{2, 3, 4, 10}

In [10]:
#Set Mathematical Methods
a = { 1, 2, 3 } 
b = { 1, 2, 5, 6, 4 } 

print(a.union(b))
print(a.intersection(b)) 
print(a.isdisjoint(b)) 
print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2}
False
False

### DICTIONARY

In [12]:
# empty 
dic = {}
print(type(dic))

dic = { "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30] } 
print(type(dic) , dic)

<class 'dict'>
<class 'dict'> {'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [14]:
# access 
# dic_name[key]

print(dic["numbers"])
print(dic.get("age"))

dic["name"] = "Phitron AI/ML" 
dic = { "name" : "Phitron" , "age" : 20 , "address" : "Dhaka" , "numbers" : [10,20,30] , "age":30} 
print(dic)

[10, 20, 30]
30
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [16]:
#printing default values
print(dic) 
print(dic.get("math_marks"))
print(dic.get("math_marks",0))

# adding a value
dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers" : [10,20,30] , "age":30}
print(dic)

dic["math_marks"]= 30 
print(dic) 

dic.update({"english_marks": 40}) 
print(dic)

# deleting 
del dic["math_marks"]
print(dic)

dic_2=dic.copy()
print(dic_2)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}
30
30
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [17]:
# testing 
dic_3 = { {"name" : "adil" , "age" :20} : 20 }
print(dic_3)

TypeError: unhashable type: 'dict'

In [21]:
# View Method
dic ={ "name" : "Phitron" , "age" : 20 , "address" : "Dhaka" , "numbers" : [10,20,30] , "age" : 30}

keys = dic.keys()
print(keys)

dic["math_numbers"] = 30 
print(keys) 

values = dic.values() 
print(values) 

dic["math_numbers"] = 40 
print(values) 

items = dic.items() 
print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_numbers'])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 30])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 40])
dict_items([('name', 'Phitron'), ('age', 30), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_numbers', 40)])

In [20]:
# iteration 
for key,value in dic.items():
    print(f"{key} -> {value}")

name -> Phitron
age -> 30
address -> Dhaka
numbers -> [10, 20, 30]
math_numbers -> 40

In [22]:
# comprehension
square = {x:x**2 for x in range(1,11) if x%2 == 0} # { expression : iterable : condition }
print(square)

Co_ordinates = [(10,10.5), (20.5,192), (101,102) ]
Locations =["dhaka", "chattogram", "sylhet"]
exact_locations = {co_or : loc for co_or, loc in zip(Co_ordinates,Locations)}
print(exact_locations)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}