### FUNCTION PARAMETERS

In [1]:
def greet(user = "guest"):
    print(f"hello {user}")

greet("adil")

hello adil

In [2]:
def square_addition(a,b,c):
    print(f"{a} {b} {c}")
    a=a**2 
    b=b**2 
    return a+b+c
    
#positional argument
ans = square_addition(10,20,30) + 10 
print(ans) 

#keyword argument
ans = square_addition(b=10,c=20,a=30) + 10 
print(ans)

10 20 30
540
30 10 20
1030

In [3]:
def square_addition(*args):
    summation =0 
    for i in args:
        i = i**2 
        summation+=i
    return summation

ans = square_addition(10,20,30,40,50) #joto iccha toto arguments
print(ans)

5500

In [5]:
def student(**kwargs):  #keyword arguments
    for key,val in kwargs.items():
        print(f"{key} : {val}")

student(name = "adil" , cls = 10 , roll = 30 , marks = 30.5)

name : adil
cls : 10
roll : 30
marks : 30.5

### RETURN TYPES

In [8]:
def give_prediction():
    return 10 

print(type(give_prediction()))

def give_prediction_1():
    return 10.5 

print(type(give_prediction_1()))

def give_prediction_2():
    return "name" 

print(type(give_prediction_2()))

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
def give_prediction():
    a= [10,20,30]
    b= [20,30,40]
    return a,b 

print(type(give_prediction()))

## unpacking 
x , y = give_prediction()

print(x)
print(y)

<class 'tuple'>
[10, 20, 30]
[20, 30, 40]

In [13]:
def give_prediction():
    a = {10,20,30}
    b = [100,200,300]
    return a,b 

x = give_prediction()
print(type(x))

for item in x:
    print(item)

<class 'tuple'>
{10, 20, 30}
[100, 200, 300]

In [17]:
def give_prediction():
    return { "name" : "adil" , "addr" : "Ctg"},{ "name" : "abrar" , "addr" : "dhaka"}

x,y = give_prediction()
print(type(x))

for item, utem in y.items():
    print(item, utem)

<class 'dict'>
name abrar
addr dhaka

### ITERATOR

In [18]:
s = {10 , 20 , 30 , 40 , 50 }

s_iter = iter(s) 
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

50
20
40
10
30
50
20
40
10
30

### GENERATOR

In [20]:
lst = [ x for x in range(500) ] # dataset 

def data_loader(chunk_size,lst):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]

x = data_loader(10,lst) 

print(next(x))
print(next(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### LAMBDA FUNCTION

In [22]:
def square_addition(x,y): #normal function definition
    return x**2 + y**2 
    
sq_add = lambda x,y : x**2 + y**2 
print(sq_add(2,3))

13

### MAP

In [23]:
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

def square(x):
    return x**2 

lst = list(map(square , lst)) #you through object, not call the function
print(lst)

[1, 4, 9, 16, 25, 36]

In [26]:
# string 
string = "hello world, welcome to the age of AI"
string1 = list(map(str.upper , string))
print(string1)
string1 = "".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ',', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I']
HELLO WORLD, WELCOME TO THE AGE OF AI

In [27]:
# map with lambda function 
lst = [ 1, 2, 3, 4, 5, 6 ]
lst = list(map(lambda x : x**2,lst))
print(lst)

[1, 4, 9, 16, 25, 36]

### FILTER

In [28]:
numbers = [x for x in range(100)]

# even 
even = list(filter( lambda x : x % 2 ==0,numbers))
print(even)

fifty_upper = list(filter( lambda x : x >50,numbers))
print(fifty_upper)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [29]:
data = [0, 1, '', None, 'Hello', [], [1, 2], None, True, False, None]

cleaned_data = list(filter(None, data))

print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [30]:
# string 

vowel_ = list(filter( lambda x : x in "AEIOU" , string1))

print(vowel_)

['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

### REDUCE

In [31]:
from functools import reduce

In [32]:
lst = [ 1,2,3,4,5,6 ]

summation = reduce(lambda x,y : x+y , lst) 

print(summation)

21

In [34]:
lst = [ "hello", "world", "welcome", "to", "programming"]
print(lst)

string = reduce(lambda x,y : x + " " + y ,lst) 
print(string)

['hello', 'world', 'welcome', 'to', 'programming']
hello world welcome to programming